<div class="container">
  <% @invitations.each do |invitation| %>
    <%= link_to game_session_path(invitation.game_session_id) do %>
      <div class="session-card">
        <div class="session-card__info">
          <div class="session-card__players">
            <%# <% invitations = Invitation.where("game_session_id = ? AND status = ?", invitation.game_session_id, "confirmed") %>
            <%# <% users = invitations.map { |invite| User.find(invite.user_id) } %>
            <%# <% users.each do |user| %>
            <%# User.first.invitations.inviter_id %>
            <% if invitation.inviter.photo.attached? %>
              <%= cl_image_tag invitation.inviter.photo.key, class: "avatar" %>
            <% else %>
              <%= image_tag "default-profile.jpeg", class: "avatar" %>
            <% end %>
            <% if invitation.user.photo.attached? %>
              <%= cl_image_tag invitation.user.photo.key, class: "avatar" %>
            <% else %>
              <%= image_tag "default-profile.jpeg", class: "avatar" %>
            <% end %>
          </div>
          <%= invitation.inviter.username %>
          <%= invitation.user.username %>
          <% if invitation.user == current_user %>
            <p>In a chat with <%= invitation.inviter.username %></p>
          <% else %>
            <p>In a chat with <%= invitation.user.username %></p>
          <% end %>
        </div>
        <div class="session-card__status">
          <p>Status: <%= GameSession.find(invitation.game_session_id).status %></p>
          <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
