<div class="container">
  <h2>All Chats</h2>
  <% @invitations.each do |invitation| %>
    <div class="session-card--outer">
      <%= link_to game_session_path(invitation.game_session_id) do %>
        <div class="session-card">
          <div class="session-card__info">
            <div class="session-card__players">
              <%# <% invitations = Invitation.where("game_session_id = ? AND status = ?", invitation.game_session_id, "confirmed") %>
              <%# <% users = invitations.map { |invite| User.find(invite.user_id) } %>
              <%# <% users.each do |user| %>
              <%# User.first.invitations.inviter_id %>
              <% if invitation.inviter.photo.attached? %>
                <%= cl_image_tag invitation.inviter.photo.key, class: "avatar" %>
              <% else %>
                <%= image_tag "default-profile.jpeg", class: "avatar" %>
              <% end %>
              <% if invitation.user.photo.attached? %>
                <%= cl_image_tag invitation.user.photo.key, class: "avatar" %>
              <% else %>
                <%= image_tag "default-profile.jpeg", class: "avatar" %>
              <% end %>
            </div>
            <% if invitation.user == current_user %>
              <p>Now chatting with <%= invitation.inviter.username %></p>
            <% else %>
              <p>Now chatting with <%= invitation.user.username %></p>
            <% end %>
          </div>
          <div class="session-card__status">
            <% if invitation.game_session.ongoing == true %>
              <div class="spinner">
                <div class="double-bounce1 double-bounce--green"></div>
                <div class="double-bounce2 double-bounce--green"></div>
              </div>
            <% else %>
              <div class="spinner">
                <div class="double-bounce1 double-bounce--dead"></div>
                <div class="double-bounce2 double-bounce--dead"></div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="session-card__buttons">
        <%= link_to 'Rate Player', new_game_session_user_rating_path(invitation.game_session_id), class: "pop-btn pop-btn-blue" %>
        <% if invitation.game_session.ongoing == true %>
          <%= link_to 'Leave Chat', end_game_session_path(invitation.game_session_id), method: :patch, class: "pop-btn pop-btn-purple" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
