<%# <h1>#<%= @gamesession.game.title</h1> %>
<div class="container__chat">
  <div id="messages" data-gamesession-id="<%= @gamesession.id %>">
    <% @gamesession.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
      <%# <div class="message-container" id="message-<%= message.id %>
        <%# <i class="author"> %>
          <%# <span><%= message.user.username</span> %>
          <%# <small><%= message.created_at.strftime("%a %b %e at %l:%M%p")</small> %>
        <%# </i> %>
        <%# <p><%= message.content</p> %>
      <%# </div> %>
    <% end %>
  </div>
  <div class="container__chat--input">
    <%= simple_form_for [@gamesession, @message], remote: true do |f| %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <%= f.input :content, label: false, placeholder: "Type your message here. Please do not share sensitive information like password, credit card info etc." %>
      <%= f.submit %>
    <% end %>
    <% if GameSession.find(params[:id]).ongoing == true %>
    <% else %>
      <%= link_to 'Start session', start_game_session_path, method: :patch %>
    <% end %>
    <%= link_to 'End session', end_game_session_path, method: :patch %>
    <%= link_to 'Invite another user', users_path %>
  </div>
</div>
