<h1>#<%= @gamesession.game.title %></h1>
<div id="messages" data-gamesession-id="<%= @gamesession.id %>">
  <% @gamesession.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <span><%= message.user.user_name %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  <% end %>
</div>

<%= simple_form_for [ @gamesession, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Message ##{@gamesession.game.title}" %>
<% end %>
