<nav>
  <% if user_signed_in? %>
    <%= link_to root_path, class: "navbar-brand" do %>
      <h1>BUDDIE UP</h1>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <ul class="nav-items">
      <li class="nav-item">
        <%= link_to "Find Game", games_path, class: "pop-btn pop-btn-pink" %>
      </li>
      <li class="nav-item">
        <%= link_to "Find Buddy", users_path, class: "pop-btn pop-btn-purple" %>
      </li>
      <li class="nav-item">
        <%= link_to "Chats", chats_path, class: "pop-btn pop-btn-blue" %>
      </li>
      <div class="notification">
        <% if current_user.invitations.find_by status: "unconfirmed" %>
          <div class="spinner">
            <div class="double-bounce1 double-bounce--green"></div>
            <div class="double-bounce2 double-bounce--green"></div>
          </div>
        <% end %>
      </div>

      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar", id: "dropdown-toggle" %>
      <% else %>
        <%= image_tag "default-profile.jpeg", class:"avatar", id: "dropdown-toggle" %>
      <% end %>

      <div class="nav__dropdown">
        <%= link_to "Profile", profile_path, class: "dropdown__item dropdown__item--hide" %>
        <% if current_user.invitations.find_by status: "unconfirmed" %>
          <%= link_to "Invitations", profile_path, class: "dropdown__item dropdown__item--hide"%>
        <% end %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown__item dropdown__item--hide" %>
      </div>
    </ul>
  <% end %>
</nav>
