<nav>
  <% if user_signed_in? %>
    <%= link_to root_path, class: "navbar-brand" do %>
      <h1>BUDDIE UP</h1>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <ul class="nav-items">
        <%= link_to profile_path do  %>
           <li class = "align-middle">
          <% if current_user.invitations.find_by status: "unconfirmed" %>
            <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
          <% end %>
          </li>
        <% end %>
      <li class="nav-item">
        <%= link_to "Find Game", games_path, class: "pop-btn pop-btn-pink" %>
      </li>
      <li class="nav-item">
        <%= link_to "Find Buddy", users_path, class: "pop-btn pop-btn-orange" %>
      </li>


      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar", id: "dropdown-toggle" %>
      <% else %>
        <%= image_tag "default-profile.jpeg", class:"avatar", id: "dropdown-toggle" %>
      <% end %>

      <div class="nav__dropdown">
        <%= link_to "Profile", profile_path, class: "dropdown__item dropdown__item--hide" %>
        <%# <%= link_to "Sessions", game_sessions_path, class: "dropdown__item dropdown__item--hide" %>
        <%# Check if any of the current user's invitations are confirmed, and if they are %>
        <%# are the game session in status active? If they are display active session and link %>
        <%# else don't.  %>
        <% current_user_confirmed_invitations = current_user.invitations.select { |invitation| invitation.status == 'confirmed' } %>
        <% current_user_active_session = current_user_confirmed_invitations.select { |invitation| invitation.game_session.status != 'dead'} %>
        <% raise %>
        <% if current_user_active_session.first.nil? %>
        <% elsif current_user_active_session.first.status == 'new' %>
          <%= link_to "New session", game_session_path(current_user_active_session.first.game_session_id), class: "dropdown__item dropdown__item--hide"%>
        <% else %>
            <%= link_to "Active session", game_session_path(current_user_active_session.first.game_session_id), class: "dropdown__item dropdown__item--hide"%>
        <% end %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown__item dropdown__item--hide" %>
      </div>
    </ul>
  <% end %>
</nav>
