<div data-search-target="list">
  <% if params[:query].blank? %>
    <h2 class="list-header"><%= pluralize users.count, 'user' %> online</h2>
  <% else %>
    <h2 class="list-header"><%= pluralize users.count, 'result' %> for <span class="result"><%= params[:query] %></span></h2>
  <% end %>
  <ul>
    <% users.each do |user| %>
      <% if user.id != current_user.id %>
        <li>
          <%= link_to user_path(user) do %>
            <div class="card-user">
              <% if user.photo.attached? %>
                  <%= cl_image_tag user.photo.key, class: "avatar-medium ml-2" %>
                <% else %>
                  <%= image_tag "default-profile.jpeg", class: "avatar-medium ml-2" %>
                <% end %>
              <div class="card-user-infos">
                <h2><%= user.username %></h2>
              </div>
              <%# <div> %>
                <%# <p><%= user.language if user.language %></p>
                <%# <p><%= user.favourite_games if user.favourite_games %></p>
              <%# </div> %>
              <div class="user-rating">
                <% user.average_rating.round.times do %>
                  <span>⭐</span>
                <% end %>
                <p>(<%= user.user_rating_ids.count %>)</p>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>