<div class="container">
  <h2>All Chats</h2>
  <% if @invitations[0] %>
    <% @invitations.reverse.each do |invitation| %>
      <div class="session-card--outer">
        <%= link_to chat_path(invitation.chat_id) do %>
          <div class="session-card">
            <div class="session-card__info">
              <div class="session-card__players">
                <% if invitation.inviter.photo.attached? %>
                  <%= cl_image_tag invitation.inviter.photo.key, class: "avatar" %>
                <% else %>
                  <%= image_tag "default-profile.jpeg", class: "avatar" %>
                <% end %>
                <% if invitation.user.photo.attached? %>
                  <%= cl_image_tag invitation.user.photo.key, class: "avatar" %>
                <% else %>
                  <%= image_tag "default-profile.jpeg", class: "avatar" %>
                <% end %>
              </div>
              <% if invitation.chat.ongoing == true %>
                <% if invitation.user == current_user %>
                  <p>Now chatting with <%= invitation.inviter.username %></p>
                <% else %>
                  <p>Now chatting with <%= invitation.user.username %></p>
                <% end %>
              <% else %>
                <% if invitation.user == current_user %>
                  <p>Your previous chat with <%= invitation.inviter.username %></p>
                <% else %>
                  <p>Your previous chat with <%= invitation.user.username %></p>
                <% end %>
              <% end %>
            </div>
            <div class="session-card__status">
              <% if invitation.chat.ongoing == true %>
                <div class="spinner">
                  <div class="double-bounce1 double-bounce--green"></div>
                  <div class="double-bounce2 double-bounce--green"></div>
                </div>
              <% else %>
                <div class="spinner">
                  <div class="double-bounce1 double-bounce--dead"></div>
                  <div class="double-bounce2 double-bounce--dead"></div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="session-card__buttons">
          <% @reviewee = invitation.inviter_id == current_user.id ? invitation.user_id : invitation.inviter_id %>
          <% if invitation.status == "confirmed" || invitation.inviter_id == current_user.id %>
            <% unless @user_ratings.where("user_id = ? AND reviewee_id = ?", current_user.id, @reviewee)[0] %>
              <%= link_to 'Rate User', new_chat_user_rating_path(invitation.chat_id), class: "pop-btn pop-btn-blue" %>
            <% end %>
            <% if invitation.chat.ongoing == true %>
              <%= link_to 'Leave Chat', end_chat_path(invitation.chat_id), method: :patch, class: "pop-btn pop-btn-purple" %>
            <% end %>
          <% else %>
            <%= link_to "Accept", user_accept_path(current_user, invitation), method: 'patch', class: "pop-btn pop-btn-pink" %>
            <%= link_to "Decline", user_decline_path(current_user, invitation), method: 'patch',class: "pop-btn pop-btn-orange" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>You haven't chatted with any users yet! Find a buddy!</p>
  <% end %>
</div>
