<div class="game-banner" style="background-image: linear-gradient(to top right, rgba(255,104,37,0.2), rgba(213,2,75,0.2), rgba(213,2,75,0.2)),
                                                  linear-gradient(to top left, rgba(255,104,37,0.2), rgba(213,2,75,0.2), rgba(104, 32, 124, 0.2)),
                                                  url(<%= @game.background_image_url %>);">
  <div class="game-image">
    <img src="<%= @game.image_url %>" alt="game-splash-art">
  </div>
  <div class="game-desc">
    <h2><%= @game.title %></h2>
    <p><%= @game.description %></p>
    <p>Developed by: <%= @game.developer %></p>
  </div>
</div>

<div class="container">
  <ul>
    <% @users.sample(5).each do |user| %>
      <li>
        <%= link_to user_path(user) do %>
          <div class="card-product mt-3">
            <% if user.photo.attached? %>
                  <%= cl_image_tag user.photo.key, class: "avatar-medium ml-2" %>
              <% else %>
                  <%= image_tag "default-profile.jpeg", class: "avatar-medium ml-2" %>
              <% end %>
            <div class="card-product-infos">
              <h2><%= user.username %></h2>
              <p>is looking for players to play <%= @game.title %>!</p>
            </div>
          </div> 
        <% end %>     
      </li>
    <% end %> 
  </ul>
</div>

