<div class="game-banner" style="background-image: linear-gradient(to top right, rgba(255,104,37,0.1), rgba(213,2,75,0.1), rgba(213,2,75,0.1)),
                                                  linear-gradient(to top left, rgba(255,104,37,0.1), rgba(213,2,75,0.1), rgba(213,2,75,0.1)),
                                                  url(<%= @game.background_image_url %>);">
</div>
<div class="game-details">
  <div class="game-wrapper">
    <div class="game-image">
      <img src="<%= @game.image_url %>" alt="game-splash-art">
    </div>
    <div class="game-desc">
      <div class="game-infos data-controller="favourite">
        <h2><%= @game.title %></h2>
        <% if @favourite_game %>
          <%= link_to game_favourite_game_path(@game, @favourite_game), method: :delete do %>
            <i class="fas fa-star fa-star-game"></i>
          <% end %>
        <% else %>
          <%= link_to game_favourite_games_path(@game), method: :post do %>
            <i class="far fa-star fa-star-game"></i>
          <% end %>
        <% end %>
      </div>
      <p><%= @game.description %></p>
      <p>Developed by: <%= @game.developer %></p>
    </div>
  </div>

  <%# <div class="filter-flex">
    <div class="filters__container">
      <div class="filters">
        <h4>Sticky filter box goes here!</h4>
      </div>
    </div> %>

    <div class="users__container">
      <div data-controller="search">
        <form action="/users" method="get" accept-charset="UTF-8" data-search-target="form" class="search__form">
          <input type="text" name="query" id="query" placeholder="Search for users..." data-search-target="searchInput" data-action="keyup->search#update" class="search__input">
        </form>

        <%= render 'shared/userlist', users: @users %>
      </div>
    </div>
  </div>
</div>
