<div class="container__flex">
  <div class="container__rating">
    <div class="container__player-details">
      <% if @otheruser.photo.attached? %>
        <%= cl_image_tag @otheruser.photo.key, class: "avatar-medium ml-2" %>
      <% else %>
        <%= image_tag "default-profile.jpeg", class: "avatar-medium ml-2" %>
      <% end %>
      <div class="container__player-info">
        <h2>Rate your experience with...</h2>
        <h3><%= @otheruser.username %></h3>
      </div>
    </div>
    <%= simple_form_for [@gamesession, @user_rating], html: { class: "rating-container__form" } do |f| %>
      <%= f.input :comments, input_html: { class: "form__comment-input" } %>
      <%= f.input :rating, collection: (1..5).to_a %>
      <div class="form__submit-button--right">
        <%= f.button :submit, "Rate", class: "pop-btn pop-btn-orange" %>
      </div>
    <% end %>
  </div>
</div>


<div class="container my-4 d-flex justify-content-center">
  <% if @favourite_user %>
     <%= link_to "Unfavourite", user_favourite_user_path(@otheruser,  @favourite_user), method: :delete, class: "pop-btn pop-btn-pink"  %>
  <% else %>
    <%= link_to "Favourite", user_favourite_users_path(@otheruser), method: :post, class: "pop-btn pop-btn-pink"  %>
  <% end %>
  <% if @avoided_user %>
    <%= link_to "Un-avoid", user_avoid_user_path(@otheruser,  @avoided_user), method: :delete, class: "pop-btn pop-btn-pink"  %>
  <% else %>
    <%= link_to "Avoid", user_avoid_users_path(@otheruser),  data: { confirm: 'Are you sure you want to avoid this user? (please go to avoided users list to un-avoid)' }, method: :post, class: "pop-btn pop-btn-purple"  %>
  <% end %>
</div>

<script>
  document.addEventListener('turbolinks:load', () => {
  let flexStars = document.querySelector('.user_rating_rating');
  flexStars.classList.add("d-flex");
  flexStars.classList.add("justify-content-between");
  // console.log(flexStars);
});
</script>