<!-- <%= simple_form_for [@user_rating, @user] do |f| %>
  <%= f.input :comments %>
  <%= f.input :rating %>
  <%= f.button :submit %>
<% end %> -->


<%# <%= form_with(url) %>

<%# <h1>Hi</h1>
<%= link_to "Favourite", "#" %>
